# Environment variables
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Database
*.postgresql

# Static files
staticfiles/

# IDE files
.idea/
.vscode/

# Local development
.DS_Store
