/* Using global variables defined in main.css for consistency */

.dashboard-header {
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 20px;
}

.dashboard {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: fit-content;
  padding: 1rem;
}

.habit-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.habit-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-body {
  margin-bottom: 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-group {
  display: flex;
  gap: 10px;
}

.no-habits {
  text-align: center;
  padding: 20px;
}

/* forms.css */
.form-container {
  margin-top: 20px;
  text-align: center;
}

.back-link {
  display: flex;
  gap: 10px;
}

.action-buttons {
  margin-bottom: 20px;
}

.habit-actions {
  margin-bottom: 10px;
}

.habit-property {
  margin-bottom: 20px;
}

.habit-info-card {
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.header-actions {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
}

.habit-detail {
  /* habit_detail.css */
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error {
  margin-top: 5px;
  color: #ff0000;
}

.form-actions .btn:hover {
  background-color: #0056b3;
}

.form-actions .btn {
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}